body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1096px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:20px;
  top:20px;
  width:667px;
  height:375px;
}
#u674 {
  position:absolute;
  left:2px;
  top:180px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:20px;
  top:346px;
  width:667px;
  height:49px;
}
#u676 {
  position:absolute;
  left:2px;
  top:16px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u678 {
  position:absolute;
  left:493px;
  top:363px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u680 {
  position:absolute;
  left:471px;
  top:361px;
  width:21px;
  height:21px;
}
#u681 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  position:absolute;
  left:633px;
  top:363px;
  width:29px;
  height:16px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u685 {
  position:absolute;
  left:611px;
  top:361px;
  width:21px;
  height:21px;
}
#u686 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  position:absolute;
  left:59px;
  top:363px;
  width:57px;
  height:16px;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u690 {
  position:absolute;
  left:38px;
  top:360px;
  width:21px;
  height:21px;
}
#u691 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  position:absolute;
  left:198px;
  top:363px;
  width:57px;
  height:16px;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u695 {
  position:absolute;
  left:177px;
  top:361px;
  width:21px;
  height:21px;
}
#u696 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  position:absolute;
  left:340px;
  top:363px;
  width:71px;
  height:16px;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u700 {
  position:absolute;
  left:316px;
  top:361px;
  width:21px;
  height:21px;
}
#u701 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:20px;
}
#u702 {
  position:absolute;
  left:21px;
  top:23px;
  width:208px;
  height:20px;
}
#u703 {
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u704 {
  position:absolute;
  left:611px;
  top:23px;
  width:73px;
  height:20px;
}
#u705 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:264px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  position:absolute;
  left:20px;
  top:83px;
  width:667px;
  height:264px;
}
#u707 {
  position:absolute;
  left:2px;
  top:124px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:20px;
  top:43px;
  width:667px;
  height:40px;
}
#u709 {
  position:absolute;
  left:2px;
  top:12px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u711 {
  position:absolute;
  left:123px;
  top:53px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u713_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u713 {
  position:absolute;
  left:148px;
  top:81px;
  width:25px;
  height:2px;
}
#u714 {
  position:absolute;
  left:2px;
  top:-7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u715 {
  position:absolute;
  left:319px;
  top:51px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u718 {
  position:absolute;
  left:497px;
  top:51px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  position:absolute;
  left:28px;
  top:89px;
  width:300px;
  height:249px;
}
#u721 {
  position:absolute;
  left:2px;
  top:116px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u723 {
  position:absolute;
  left:36px;
  top:124px;
  width:292px;
  height:16px;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u725 {
  position:absolute;
  left:36px;
  top:147px;
  width:292px;
  height:16px;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u727 {
  position:absolute;
  left:36px;
  top:171px;
  width:292px;
  height:16px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u729 {
  position:absolute;
  left:36px;
  top:193px;
  width:292px;
  height:16px;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u731 {
  position:absolute;
  left:36px;
  top:216px;
  width:292px;
  height:16px;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u733 {
  position:absolute;
  left:38px;
  top:102px;
  width:292px;
  height:16px;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u735 {
  position:absolute;
  left:37px;
  top:239px;
  width:292px;
  height:16px;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u737 {
  position:absolute;
  left:37px;
  top:282px;
  width:292px;
  height:16px;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u739 {
  position:absolute;
  left:36px;
  top:302px;
  width:292px;
  height:16px;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u741 {
  position:absolute;
  left:224px;
  top:302px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u743 {
  position:absolute;
  left:37px;
  top:260px;
  width:292px;
  height:16px;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u745 {
  position:absolute;
  left:248px;
  top:228px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u745_seg0 {
  position:absolute;
  left:-87px;
  top:-1px;
  width:622px;
  height:8px;
}
#u745_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u745_seg2 {
  position:absolute;
  left:522px;
  top:-7px;
  width:20px;
  height:20px;
}
#u746 {
  position:absolute;
  left:134px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u747 {
  position:absolute;
  left:791px;
  top:222px;
  width:305px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  position:absolute;
  left:20px;
  top:433px;
  width:667px;
  height:375px;
}
#u750 {
  position:absolute;
  left:2px;
  top:180px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u751 {
  position:absolute;
  left:20px;
  top:759px;
  width:667px;
  height:49px;
}
#u752 {
  position:absolute;
  left:2px;
  top:16px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:20px;
}
#u753 {
  position:absolute;
  left:21px;
  top:436px;
  width:208px;
  height:20px;
}
#u754 {
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u755 {
  position:absolute;
  left:611px;
  top:436px;
  width:73px;
  height:20px;
}
#u756 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:427px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  position:absolute;
  left:20px;
  top:498px;
  width:667px;
  height:427px;
}
#u758 {
  position:absolute;
  left:2px;
  top:206px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u759 {
  position:absolute;
  left:20px;
  top:456px;
  width:667px;
  height:42px;
}
#u760 {
  position:absolute;
  left:2px;
  top:13px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u761 {
  position:absolute;
  left:249px;
  top:464px;
  width:173px;
  height:22px;
  font-size:18px;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u763 {
  position:absolute;
  left:28px;
  top:466px;
  width:22px;
  height:22px;
}
#u764 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:30px;
  top:508px;
  width:648px;
  height:185px;
}
#u766 {
  position:absolute;
  left:2px;
  top:84px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u767 {
  position:absolute;
  left:45px;
  top:522px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u769 {
  position:absolute;
  left:77px;
  top:548px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u771 {
  position:absolute;
  left:183px;
  top:522px;
  width:145px;
  height:16px;
  font-size:14px;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u773 {
  position:absolute;
  left:226px;
  top:548px;
  width:51px;
  height:16px;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u775 {
  position:absolute;
  left:341px;
  top:522px;
  width:144px;
  height:16px;
  font-size:14px;
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u777 {
  position:absolute;
  left:370px;
  top:548px;
  width:55px;
  height:16px;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u779 {
  position:absolute;
  left:172px;
  top:625px;
  width:152px;
  height:16px;
  font-size:14px;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u781 {
  position:absolute;
  left:222px;
  top:651px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u782 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u783 {
  position:absolute;
  left:45px;
  top:574px;
  width:128px;
  height:16px;
  font-size:14px;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u785 {
  position:absolute;
  left:74px;
  top:600px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u786 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u787 {
  position:absolute;
  left:210px;
  top:574px;
  width:128px;
  height:16px;
}
#u788 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u789 {
  position:absolute;
  left:218px;
  top:600px;
  width:58px;
  height:15px;
  font-size:14px;
}
#u790 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u791 {
  position:absolute;
  left:30px;
  top:704px;
  width:648px;
  height:211px;
}
#u792 {
  position:absolute;
  left:2px;
  top:98px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u793 {
  position:absolute;
  left:45px;
  top:834px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u794 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u795 {
  position:absolute;
  left:106px;
  top:829px;
  width:526px;
  height:25px;
}
#u795_input {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  position:absolute;
  left:106px;
  top:870px;
  width:526px;
  height:27px;
}
#u797 {
  position:absolute;
  left:2px;
  top:6px;
  width:522px;
  word-wrap:break-word;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u798 {
  position:absolute;
  left:16px;
  top:625px;
  width:152px;
  height:16px;
  font-size:14px;
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u800 {
  position:absolute;
  left:72px;
  top:651px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u802 {
  position:absolute;
  left:338px;
  top:574px;
  width:128px;
  height:16px;
  font-size:14px;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u804 {
  position:absolute;
  left:364px;
  top:600px;
  width:58px;
  height:16px;
  font-size:14px;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u806 {
  position:absolute;
  left:337px;
  top:626px;
  width:128px;
  height:16px;
  font-size:14px;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u808 {
  position:absolute;
  left:363px;
  top:652px;
  width:58px;
  height:16px;
  font-size:14px;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u810 {
  position:absolute;
  left:106px;
  top:716px;
  width:264px;
  height:16px;
}
#u811 {
  position:absolute;
  left:16px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u810_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u812 {
  position:absolute;
  left:45px;
  top:716px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u814 {
  position:absolute;
  left:612px;
  top:783px;
  width:66px;
  height:16px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  visibility:hidden;
  white-space:nowrap;
}
#u816 {
  position:absolute;
  left:367px;
  top:716px;
  width:295px;
  height:16px;
}
#u817 {
  position:absolute;
  left:16px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u816_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u818 {
  position:absolute;
  left:45px;
  top:784px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u820 {
  position:absolute;
  left:106px;
  top:785px;
  width:300px;
  height:32px;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u822 {
  position:absolute;
  left:371px;
  top:801px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u824 {
  position:absolute;
  left:387px;
  top:485px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u824_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:393px;
  height:8px;
}
#u824_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u824_seg2 {
  position:absolute;
  left:376px;
  top:-10px;
  width:20px;
  height:20px;
}
#u825 {
  position:absolute;
  left:144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u826 {
  position:absolute;
  left:791px;
  top:475px;
  width:208px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u828 {
  position:absolute;
  left:106px;
  top:746px;
  width:264px;
  height:16px;
}
#u829 {
  position:absolute;
  left:16px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u828_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u830 {
  position:absolute;
  left:366px;
  top:746px;
  width:170px;
  height:16px;
}
#u831 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u830_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u832 {
  position:absolute;
  left:462px;
  top:746px;
  width:170px;
  height:16px;
}
#u833 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u832_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  position:absolute;
  left:24px;
  top:983px;
  width:667px;
  height:375px;
}
#u835 {
  position:absolute;
  left:2px;
  top:180px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  position:absolute;
  left:24px;
  top:1309px;
  width:667px;
  height:49px;
}
#u837 {
  position:absolute;
  left:2px;
  top:16px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:20px;
}
#u838 {
  position:absolute;
  left:25px;
  top:986px;
  width:208px;
  height:20px;
}
#u839 {
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u840 {
  position:absolute;
  left:615px;
  top:986px;
  width:73px;
  height:20px;
}
#u841 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:427px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:24px;
  top:1048px;
  width:667px;
  height:427px;
}
#u843 {
  position:absolute;
  left:2px;
  top:206px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:24px;
  top:1006px;
  width:667px;
  height:42px;
}
#u845 {
  position:absolute;
  left:2px;
  top:13px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u846 {
  position:absolute;
  left:253px;
  top:1014px;
  width:157px;
  height:22px;
  font-size:18px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u848 {
  position:absolute;
  left:32px;
  top:1016px;
  width:22px;
  height:22px;
}
#u849 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:34px;
  top:1058px;
  width:648px;
  height:185px;
}
#u851 {
  position:absolute;
  left:2px;
  top:84px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u852 {
  position:absolute;
  left:49px;
  top:1072px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u854 {
  position:absolute;
  left:81px;
  top:1098px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u856 {
  position:absolute;
  left:187px;
  top:1072px;
  width:145px;
  height:16px;
  font-size:14px;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u858 {
  position:absolute;
  left:230px;
  top:1098px;
  width:51px;
  height:16px;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u860 {
  position:absolute;
  left:345px;
  top:1072px;
  width:144px;
  height:16px;
  font-size:14px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u862 {
  position:absolute;
  left:374px;
  top:1098px;
  width:55px;
  height:16px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u864 {
  position:absolute;
  left:176px;
  top:1175px;
  width:152px;
  height:16px;
  font-size:14px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u866 {
  position:absolute;
  left:226px;
  top:1201px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u868 {
  position:absolute;
  left:49px;
  top:1124px;
  width:128px;
  height:16px;
  font-size:14px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u870 {
  position:absolute;
  left:78px;
  top:1150px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u872 {
  position:absolute;
  left:214px;
  top:1124px;
  width:128px;
  height:16px;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u874 {
  position:absolute;
  left:222px;
  top:1150px;
  width:58px;
  height:15px;
  font-size:14px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:34px;
  top:1254px;
  width:648px;
  height:211px;
}
#u877 {
  position:absolute;
  left:2px;
  top:98px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u878 {
  position:absolute;
  left:49px;
  top:1384px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u880 {
  position:absolute;
  left:110px;
  top:1379px;
  width:319px;
  height:25px;
}
#u880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:110px;
  top:1420px;
  width:319px;
  height:27px;
}
#u882 {
  position:absolute;
  left:2px;
  top:6px;
  width:315px;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u883 {
  position:absolute;
  left:20px;
  top:1175px;
  width:152px;
  height:16px;
  font-size:14px;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u885 {
  position:absolute;
  left:76px;
  top:1201px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u887 {
  position:absolute;
  left:342px;
  top:1124px;
  width:128px;
  height:16px;
  font-size:14px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u889 {
  position:absolute;
  left:368px;
  top:1150px;
  width:58px;
  height:16px;
  font-size:14px;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u891 {
  position:absolute;
  left:341px;
  top:1176px;
  width:128px;
  height:16px;
  font-size:14px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u893 {
  position:absolute;
  left:367px;
  top:1202px;
  width:58px;
  height:16px;
  font-size:14px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u895 {
  position:absolute;
  left:110px;
  top:1266px;
  width:264px;
  height:16px;
}
#u896 {
  position:absolute;
  left:16px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u895_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u897 {
  position:absolute;
  left:49px;
  top:1266px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u899 {
  position:absolute;
  left:616px;
  top:1333px;
  width:66px;
  height:16px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  visibility:hidden;
  white-space:nowrap;
}
#u901 {
  position:absolute;
  left:226px;
  top:1266px;
  width:295px;
  height:16px;
}
#u902 {
  position:absolute;
  left:16px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u901_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u903 {
  position:absolute;
  left:49px;
  top:1334px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u905 {
  position:absolute;
  left:110px;
  top:1335px;
  width:300px;
  height:32px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u907 {
  position:absolute;
  left:375px;
  top:1351px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u909 {
  position:absolute;
  left:383px;
  top:1035px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u909_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:393px;
  height:8px;
}
#u909_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u909_seg2 {
  position:absolute;
  left:376px;
  top:-10px;
  width:20px;
  height:20px;
}
#u910 {
  position:absolute;
  left:144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u911 {
  position:absolute;
  left:787px;
  top:1025px;
  width:154px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u913 {
  position:absolute;
  left:370px;
  top:1266px;
  width:264px;
  height:16px;
}
#u914 {
  position:absolute;
  left:16px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u913_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u915 {
  position:absolute;
  left:110px;
  top:1293px;
  width:170px;
  height:16px;
}
#u916 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u915_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u917 {
  position:absolute;
  left:226px;
  top:1293px;
  width:170px;
  height:16px;
}
#u918 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u917_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
